body {
    background-color: rgb(28, 240, 8);
    margin: 0;
}


.melon-image {
    width: 300px;
    height: 300px;
}

#melon-list {
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    background-color: #fa07d2 !important;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    caret-color: transparent;
    color: #faf207;
    text-shadow: black;
}

.navbar-brand {
    color: #faf207 !important;
}

.nav-link {
    color: #faf207 !important;
}
.nav-link:hover {
    color: #000000 !important;
    transition: ease-in-out 0.5s;
}